.assessmentDetails-div {
    border-radius: 20px;
    margin: 15px 5px;
    padding: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

.assessmentDetails-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    margin-bottom: 20px;
}

.uploadinput {
    background-color: rgb(129, 189, 155);
}

.remainingtimeicon {
    aspect-ratio: 1/1;
    width: 25px;
    margin-left: 0.5rem;
}

.deliverytime {
    display: flex;
}

.active {
    border-bottom: 3px solid rgb(52, 140, 254);
}

.pending {
    border-bottom: 3px solid rgb(249, 106, 77);
}

.Completed {
    border-bottom: 3px solid rgb(6, 137, 63);
}

.assessment-subtitle {
    text-align: start;
}

.assessmentDetails-Bn {
    padding: 5px;
    margin: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    background-color: var(--blue-button-colour);

    &:hover {
        background-color: var(--blue-button-hovercolour);
    }
}

.assessment-updateBn {
    padding: 5px;
    margin: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--blue-button-colour);

    &:hover {
        background-color: var(--blue-button-hovercolour);
    }
}