.studentreportadd {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.examlist {
    padding: 10px;
    margin: 10px;
    min-width: 70vw;
    border: 1px solid black;
    border-radius: 20px;
    background-color: lightpink;
}

.examlist-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.examlist-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.examlist-fied {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    min-width: 40vw;
}

.examlist-fied-input {
    background-color: white;

}

.studentReport-betterview {
    display: flex;
    flex-direction: column;
}


/* ....................................................................... */
/* Exam Report */

.studentreportadd-grade {
    width: 80%;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}

.studentreportadd-grade-title {
    font-size: 20px;
    font-weight: bold;
    text-align: start;
    padding: 10px;
    margin: 10px;
}

.studentreportadd-grade-BnDiv {
    display: flex;
    justify-content: end;
    min-width: 40vw;
    padding: 10px;
    margin: 10px;
}

.examlist-UploadBn {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #0d191b;

    &:hover {
        background-color: #11b4d4;
    }
}

.grade-container {
    display: flex;
    max-width: 200px;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 1rem;
    padding: 12px 16px;
}

.grade-label {
    display: flex;
    flex-direction: column;
    min-width: 10rem;
    flex: 1;
}

.grade-title {
    color: #0d191b;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 0.5rem;
}

.grade-select {
    width: 100%;
    flex: 1;
    resize: none;
    overflow: hidden;
    border-radius: 0.5rem;
    color: #0d191b;
    border: 1px solid #cfe3e7;
    background-color: #f8fbfc;
    height: 3.5rem;
    padding: 7px;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    outline: none;
}

.grade-select:focus {
    border-color: #cfe3e7;
    box-shadow: none;
}


/* ....................................................................... */

.warning-box {
    border: 2px solid red;
    background-color: #ffe6e6;
    color: #936969;
    padding: 15px;
    margin: 20px;
    border-radius: 5px;
}

.warning-Checkboxs {
    display: flex;
    align-items: center;
}

.warning-Checkboxs input {
    margin: 0.5rem;
    cursor: pointer;
}

/* ....................................................................... */